<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.EquinoxLauncher">
<booleanAttribute key="append.args" value="true"/>
<booleanAttribute key="automaticAdd" value="true"/>
<booleanAttribute key="automaticValidate" value="false"/>
<stringAttribute key="bootstrap" value=""/>
<stringAttribute key="checked" value="[NONE]"/>
<booleanAttribute key="clearConfig" value="false"/>
<stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/Throughput Tester"/>
<booleanAttribute key="default_auto_start" value="true"/>
<intAttribute key="default_start_level" value="4"/>
<booleanAttribute key="includeOptional" value="true"/>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -console"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Declipse.ignoreApp=true -Dosgi.noShutdown=true&#13;&#10;-Dit.cnr.isti.zigbee.driver.serial.portname=COM5&#13;&#10;-Dit.cnr.isti.zigbee.pan.channel=22&#13;&#10;-Dit.cnr.isti.zigbee.driver.mode=EndDevice"/>
<stringAttribute key="org.ops4j.pax.cursor.logLevel" value="INFO"/>
<booleanAttribute key="org.ops4j.pax.cursor.overwrite" value="false"/>
<booleanAttribute key="org.ops4j.pax.cursor.overwriteSystemBundles" value="false"/>
<booleanAttribute key="org.ops4j.pax.cursor.overwriteUserBundles" value="false"/>
<listAttribute key="org.ops4j.pax.cursor.profiles">
<listEntry value="config"/>
<listEntry value="log"/>
</listAttribute>
<mapAttribute key="org.ops4j.pax.cursor.provisionItems">
<mapEntry key="mvn:org.aal-persona.sail/org.aal-persona.zigbee.basedriver" value="true@false@null@false"/>
<mapEntry key="mvn:org.aal-persona.bundle/org.aal-persona.bundle.net.sourceforge.trove" value="true@true@null@false"/>
<mapEntry key="mvn:org.aal-persona.sail/org.aal-persona.zigbee.cc2480.driver" value="true@true@null@false"/>
<mapEntry key="mvn:org.aal-persona.sail/org.aal-persona.zigbee.zcl.library" value="true@true@null@false"/>
<mapEntry key="mvn:org.aal-persona.sail/org.aal-persona.zigbee.pcl.library" value="true@true@null@false"/>
<mapEntry key="mvn:org.apache.commons/commons-math" value="true@true@null@false"/>
<mapEntry key="mvn:org.aal-persona.sail/org.aal-persona.zigbee.basedriver.api" value="true@true@null@false"/>
<mapEntry key="mvn:org.aal-persona.sail/org.aal-persona.zigbee.common" value="true@true@null@false"/>
<mapEntry key="mvn:org.aal-persona.sail/org.aal-persona.zigbee.persona.driverx" value="true@true@null@false"/>
<mapEntry key="mvn:org.aal-persona.bundles/org.aal-persona.bundles.rxtx/2.1.7-0001" value="true@true@null@false"/>
<mapEntry key="mvn:org.aal-persona.sail/org.aal-persona.zigbee.ha.driver" value="true@true@null@false"/>
</mapAttribute>
<listAttribute key="org.ops4j.pax.cursor.runArguments">
<listEntry value="--overwrite=false"/>
<listEntry value="--overwriteUserBundles=false"/>
<listEntry value="--overwriteSystemBundles=false"/>
<listEntry value="--log=INFO"/>
<listEntry value="--profiles=config,log"/>
<listEntry value="mvn:org.aal-persona.sail/org.aal-persona.zigbee.zcl.library"/>
<listEntry value="mvn:org.aal-persona.sail/org.aal-persona.zigbee.pcl.library"/>
<listEntry value="mvn:org.apache.commons/commons-math"/>
<listEntry value="mvn:org.aal-persona.sail/org.aal-persona.zigbee.common"/>
<listEntry value="mvn:org.aal-persona.sail/org.aal-persona.zigbee.basedriver@nostart"/>
<listEntry value="mvn:org.aal-persona.sail/org.aal-persona.zigbee.cc2480.driver"/>
<listEntry value="mvn:org.aal-persona.bundle/org.aal-persona.bundle.net.sourceforge.trove"/>
<listEntry value="mvn:org.aal-persona.sail/org.aal-persona.zigbee.basedriver.api"/>
<listEntry value="mvn:org.aal-persona.bundles/org.aal-persona.bundles.rxtx/2.1.7-0001"/>
<listEntry value="mvn:org.aal-persona.sail/org.aal-persona.zigbee.persona.driverx"/>
<listEntry value="mvn:org.aal-persona.sail/org.aal-persona.zigbee.ha.driver"/>
</listAttribute>
<stringAttribute key="osgi_framework_id" value="--platform=felix --version=1.8.1"/>
<stringAttribute key="pde.version" value="3.3"/>
<booleanAttribute key="show_selected_only" value="false"/>
<booleanAttribute key="tracing" value="false"/>
<booleanAttribute key="useDefaultConfigArea" value="true"/>
</launchConfiguration>
